/* logo */

#logo {
    width: 80px;
    padding: 0;
    float: left;
}

/* Header */

.header {
    margin: 1em;
    border-bottom: solid 2px var(--white);
}


header h1 {
    font-size: 3em;
}

header a {
    text-decoration: none;
}

.green {
    color: var(--green);
}

/* slogan */
.slogan {
    margin-bottom: 1em;
}

 /* anti squish */
 @media screen and (max-width: 820px) {
    .header {
        text-align: center;
    }

    #logo {
        float: none;
    }
 }

 @media screen and (max-width: 420px) {
    header h1 {
        font-size: 2em;
    }

    .slogan {
        font-size: .75em;
    }
 }