/* addTrip */


/* where to  */
#whereInput {
    background-color: var(--white);
    color: var(--grey);
    font-size: 3em;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 5px 2.5px black;
}

/* img upload */

.input:hover {
    border: solid 3px var(--green);
}

.img-upload {
    padding: 8em;
    margin: 2em;
    border-radius: 7px;
}

.custom-file-upload {
    font-size: 1.5em;
    padding: 2em 5em;
    border-radius: 30px;
    background-color: var(--grey);
    color: var(--green);
    border: solid 4px var(--green);
}

.custom-file-upload:hover {
    padding: 2em 5em;
    background-color: var(--green);
    color: var(--grey);
    border-radius: 30px;
    border: solid 4px var(--grey);
    cursor: pointer;
}

/* small cards */

.small-card-container {
    display: flex;
}

/* date input  */

#dateInput {
    line-height: 2.5em;
}

#dateInput, .budgetInput {
    text-align: left;
    padding: 0 1em;
    font-size: 1.5em;
    margin: 0 2em;
    width: 40%;
    border-radius: 10px;
    box-shadow: 5px 5px 2.5px black;

}

#dateInput ul, #descriptionInput ul, .budgetInput ul {
    margin: 1em 0;
    text-align: center;
}

#dateInput li, .budgetInput li {
    display: inline-block;
    padding: 0 2em;
    text-align: center;
}

#dateInput input, .budgetInput input {
    font-size: .75em;
}

#dateInput input:hover, .budgetInput input:hover{
    padding: 0 .25em;
    background-color: var(--grey);
    color: var(--white);
    border-radius: 10px;
    border: solid 2px var(--green);
    cursor: pointer;
}

/* budget Input */

.budget-title {
    text-align: center;
    font-size: 1.5em;
}

.budgetInput {
    background-color: var(--white);
    padding: .01em 1em;
    margin: 1em;
    text-align: right;
}

.budgetInput input {
    font-size: 1em;
    color: var(--white);
    border-radius: 5px;
    padding: .1em .5em;
}

.budgetInput input::placeholder {
    color: var(--white);
}

/* Description input  */

#descriptionInput {
    padding: 0 1em;
    font-size: 1.5em;
    margin: 0 2em;
    width: 90%;
    height: 13.25em;
    border-radius: 10px;
    box-shadow: 5px 5px 2.5px black;
}

#descriptionInput li {
    display: inline-block;
    padding: 0 2em;
    text-align: center;
}

#descriptionInput li textarea {
    background-color: var(--grey);
    color: var(--white);
    width: 100%;
    padding: 1em;
    resize: none;
    border-radius: 10px;
    font-size: .75em;
}

#descriptionInput li textarea:hover {
    border: solid 2px var(--green);
}

#descriptionInput li textarea::placeholder {
    text-align: center;
    color: var(--white);
}



/* makes placeholder disappear when clicked */

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    opacity: 0;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    opacity: 0;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
    opacity: 0;
}

/* anti-squish */

/* anti-squish cards */
@media screen and (max-width: 1100px) {
    #dateInput, .budgetInput {
        width: 80%;
        display: block;
        text-align: center;
    }
 }

 @media screen and (max-width: 820px) {
    #dateInput, .budgetInput {
        width: 80%;
        display: block;
    }
 }

 @media screen and (max-width: 640px) {
    .tripIdea-container {
        width: 90%;
    }
 }