/* addTrip */

.addTrip-container {
    align-items: center;
}

/* where to  */
#whereInput {
    background-color: var(--white);
    color: var(--grey);
    font-size: 3em;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 10px 5px black;
    width: 50%;
}

#whereInput:hover {
    box-shadow: 5px 5px 2.5px var(--green);
}

/* img upload */

.input:hover {
    border: solid 3px var(--green);
}

.img-upload {
    padding: 8em;
    margin: 2em;
    border-radius: 7px;
}

.custom-file-upload {
    font-size: 1.5em;
    padding: 2em 5em;
    border-radius: 30px;
    background-color: var(--grey);
    color: var(--green);
    border: solid 4px var(--green);
}

.custom-file-upload:hover {
    padding: 2em 5em;
    background-color: var(--green);
    color: var(--grey);
    border-radius: 30px;
    border: solid 4px var(--grey);
    cursor: pointer;
}

/* small cards */
.small-card-container {
    display: flex;
}

/* date input  */

#dateInput {
    padding: 0 .1em;
    font-size: 1.5em;
    margin: 0 2em;
    width: 45%;
    border-radius: 10px;
    box-shadow: 5px 5px 2.5px black;
}

#dateInput:hover {
    box-shadow: 5px 5px 2.5px var(--green);
}

#dateInput ul, #descriptionInput ul, .budgetInput ul {
    margin: 1em 0;
    text-align: center;
}

#dateInput li {
    line-height: 4.5em;
    display: inline-block;
    padding: 0 2em;
    text-align: center;
}

#dateInput input, .budgetInput input {
    font-size: .75em;
}

#dateInput input:hover {
    padding: 0 .25em;
    background-color: var(--grey);
    color: var(--white);
    border-radius: 10px;
    border: solid 2px var(--green);
    cursor: pointer;
}

/* budget Input */
.budgetInput {
    text-align: left;
    font-size: 1.5em;
    margin: 0 2em;
    width: 45%;
    border-radius: 10px;
    box-shadow: 5px 5px 2.5px black;
    background-color: var(--white);
    line-height: 3em;
}

.budgetInput:hover {
    box-shadow: 5px 5px 2.5px var(--green);
}

.budget-title {
    text-align: center;
    font-size: 1.25em;
}

.budgetInput li {
    display: inline-block;
    text-align: center;
}

.budgetInput input {
    font-size: 1em;
    color: var(--white);
    border-radius: 5px;
    padding: .1em .5em;
}

.budgetInput input::placeholder {
    color: var(--white);
}

.budgetInput input:hover{
    background-color: var(--grey);
    color: var(--white);
    border-radius: 5px;
    border: solid 2px var(--green);
    cursor: pointer;
}

/* Description input  */
#descriptionInput {
    font-size: 1.5em;
    width: 95%;
    margin: 2em auto;
    height: 13.25em;
    border-radius: 10px;
    box-shadow: 5px 5px 2.5px black;
}

#descriptionInput:hover {
    box-shadow: 5px 5px 2.5px var(--green);
}

#descriptionInput li {
    list-style: none;
}

#descriptionInput li textarea {
    background-color: var(--grey);
    color: var(--white);
    width: 95%;
    resize: none;
    border-radius: 10px;
    font-size: .75em;
}

#descriptionInput li textarea:hover {
    border: solid 2px var(--green);
}

#descriptionInput li textarea::placeholder {
    text-align: center;
    color: var(--white);
}

.addTrip-submit {
    font-size: 1.25em;
    margin: .4em;
    background-color: var(--green);
    padding: .5em 4em;
    border-radius: 30px;
    box-shadow: 10px 10px 5px black;
}

.addTrip-submit:hover {
    border: solid 2px var(--white);
    color: var(--white);
    box-shadow: 5px 5px 2.5px black;
}

/* makes placeholder disappear when clicked */

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    opacity: 0;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    opacity: 0;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
    opacity: 0;
}

/* anti-squish cards */
@media screen and (max-width: 1339px) {

        .budgetInput {
            line-height: 6em;
        }
}

@media screen and (max-width: 1100px) {

    .budgetInput input {
        padding: .1em .5em;
        width: 50%;
    }

    .budgetInput input::placeholder {
        text-align: center;
    }
}

@media screen and (max-width: 920px) {


    .custom-file-upload {
        padding: 1em 2em;
    }
    
    .small-card-container {
        display: inline-block;
    }

    #dateInput {
        width: 80%;
    }

    #dateInput li {
        line-height: 2.25em;
    }

    .budgetInput {
        width: 80%;
        line-height: 2.25em;
    }

}

@media screen and (max-width: 760px) {
    
    .custom-file-upload {
        font-size: 1.5em;
        padding: .25em .5em;
    }

    .custom-file-upload {
        font-size: 1.25em;
        padding: .25em .5em;
    }
    
    .description-title {
        font-size: .75em;
    }

    #descriptionInput li textarea {
        height: 200px;
        padding: 1em;
        font-size: .65em;
    }
}

@media screen and (max-width: 630px) {
    /* budget Input */

    .img-upload {
        padding: 3em;
    }

    #whereInput {
        font-size: 2em;
    }
}

@media screen and (max-width: 480px) {

    .img-upload {
        padding: 1em;
    }

    .addTrip-submit {
        font-size: 1em;
        margin: .6em;
        background-color: var(--green);
        padding: .5em 3em;
    }
    
    .addTrip-submit:hover {
        border: solid 2px var(--white);
        color: var(--white);
        box-shadow: 5px 5px 2.5px black;
    }
}

@media screen and (max-width: 410px) {

    .custom-file-upload {
        font-size: 1em;
    }

    #whereInput {
    
        font-size: 2em;
        text-align: center;
    }
}