/* tripPage */

section img {
  width: 100%;
}

.tripInfo-title {
  font-size: 3em;
  margin-bottom: 0.5em;
  color: var(--green);
}

.tripInfo-description-title {
  font-size: 1.5em;
  text-align: left;
  padding-left: 2em;
  border-bottom: solid 0.5px;
}

.info-container {
  display: flex;
}

.content {
  text-align: left;
  padding: 0.5em 1em;
  width: 65%;
}

.color-change {
  background-color: var(--white);
  color: var(--grey);
}

.infoCard {
  margin: 1em;
  width: 28%;
  border: solid var(--grey);
  box-shadow: 10px 10px 5px var(--green);
}

.infoCard:hover {
  box-shadow: 5px 5px 2.5px var(--white);
}

.infoCard h3 {
  font-size: 2em;
  border-bottom: solid 1px var(--grey);
}

.tripInfo-card-context {
  line-height: 4em;
}

.tripInfo-card-context h4 {
  font-size: 1.5em;
}

.tripInfo-card-context p {
  font-size: 1.25em;
}

.travelers {
  line-height: normal;
}

#join-btn {
  font-size: 1.75em;
  padding: 0.75em 4em;
  margin-bottom: 1em;
  border-radius: 40px;
  box-shadow: 10px 10px 5px var(--grey);
  background-color: var(--green);
}

#join-btn:hover {
  cursor: pointer;
  color: var(--white);
  border: solid 2px var(--white);
  box-shadow: 5px 5px 2.5px var(--grey);
}

/* anti-squish*/
@media screen and (max-width: 1161px) {
  .tripInfo-card-context {
    line-height: 5.5em;
  }

  #join-btn {
    padding: 0.75em 3em;
  }
}

@media screen and (max-width: 1100px) {
  .infoCard {
    width: 45%;
    align-items: center;
    display: inline-block;
  }

  .info-container {
    display: block;
  }

  .content {
    text-align: left;
    padding: 0.5em 1em;
    width: 95%;
  }
}

@media screen and (max-width: 820px) {
  .infoCard {
    width: 80%;
  }
}
